---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 こんにちは、宇宙飛行士さん！</h1>
			<p>
				オフシャルへようこそ <a href="https://astro.build/">Astro</a> ブログスターターテンプレート.このテンプレートは、Astroを使って個人のウェブサイト、ブログ、ポートフォリオを構築したいと考えているすべての人にとって、軽量でシンプルなデザインの出発点となります。
			</p>
			<p>
				このテンプレートには、
				<code>astro.config.mjs</code> ファイルに既に設定されているいくつかの統合機能が付属しています
				<a href="https://astro.build/integrations">Tailwind、React、Vueなどのツールをプロジェクトに追加するAstro統合へ</a> 
			</p>
			<p>テンプレートを使い始めるためのアイデアをいくつかご紹介 :</p>
			<ul>
				<li>このページを編集するには : 
					<code>src/pages/index.astro</code></li>
				<li>サイトのヘッダー項目を編集するには ： <code>src/components/Header.astro</code></li>
				<li>フッターにあなたの名前を追加するには ：<code>src/components/Footer.astro</code></li>
				<li>ブログ記事を確認するには： <code>src/content/blog/</code></li>
				<li>ブログ投稿記事のレイアウトをカスタマイズするには ：  <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				楽しんでください！行き詰まったら、付属のブログ記事をチェックしてみてください
				<a href="https://docs.astro.build/">ドキュメントを読む</a>
				or <a href="https://astro.build/chat">Discordに参加して</a> 質問する
			</p>
			<p>
				もう少し個性的なブログテンプレートをお探しですか？
				<a href="https://github.com/Charca/astro-blog-template">astro-blog-template</a>
				by <a href="https://twitter.com/Charca">マキシ・フェレイラ</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
